.container {
  display: grid;
  grid-template-columns:650px 750px;
}


body {
  height:3300px;
  width:2550px;
  background: linear-gradient(to bottom right, #1DDDFF, #42FCFC);
  border:solid black;
  border-style:outset;
  border-width:5px;

}

.name {
  text-align: left;
  margin-top: 50px;
  font-size: 100px;
  font-family: times;
}

h2{
  text-align: left;
  margin-left: 25px;
  font-size: 50px;
  font-family:helvetica;
}

h2.col2 {
  text-align: left;
  font-size: 50px;
  margin-top:125px;
  font-family:helvetica;
}

h3 {
  text-align: left;
  margin-left: 50px;
  font-size: 40px;
  font-family:'Times New Roman', Times, serif;
  
  /*font-family:helvetica;*/
}

.cert {
  text-align: left;
  margin-left: 150px;
  font-size: 35px;
  font-family:georgia;
}

.list {
  text-align: left;
  margin-left: 100px;
  font-family:georgia;
}
.date{
  text-align: left;
  margin-left: 150px;
  color:#0B3CAD;  
  font-size: 30px;
  font-family:georgia;
}

.exp {
  text-align:left;
  font-size: 30px;
  margin-left:100px;
  color:#0B3CAD;  
  font-family:georgia;
}

ul {
  list-style-position:outside;
}

.column {
  float: left;
  width: 50%;
  font-size: 50px;
  font-family:georgia;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

img {
  height:300px;
  width: 300px;
  margin-left:200px;
  margin-top:50px;
}

p {
  margin-left:325px;
  font-size: 20px;
  font-family:georgia;
}
